body {
  margin: 0;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

.section {
  height: 100vh;
  text-align: center;
  padding-top: 100px;
  background-color: #ffffff; 
}

.section {
  height: 100vh;
  text-align: center;
  padding-top: 100px;
  background-color: transparent; 
}

#display, #timerDisplay {
  font-size: 48px;
  margin: 20px;
}

button {
  font-size: 18px;
  margin: 5px;
  padding: 10px 20px;
}

.arrow {
  font-size: 32px;
  margin-top: 40px;
  cursor: pointer;
}
